@import "tailwindcss";
@import "uniwind";

@layer theme {
  :root {
    @variant light {
      --color-background: rgb(247, 249, 250);
      --color-foreground: rgb(51, 51, 51);
      --color-card: rgb(255, 255, 255);
      --color-card-foreground: rgb(51, 51, 51);
      --color-popover: rgb(255, 255, 255);
      --color-popover-foreground: rgb(51, 51, 51);
      --color-primary: rgb(255, 192, 203);
      --color-primary-foreground: rgb(0, 0, 0);
      --color-secondary: rgb(135, 206, 235);
      --color-secondary-foreground: rgb(0, 0, 0);
      --color-muted: rgb(221, 217, 196);
      --color-muted-foreground: rgb(110, 110, 110);
      --color-accent: rgb(255, 255, 0);
      --color-accent-foreground: rgb(0, 0, 0);
      --color-destructive: rgb(239, 68, 68);
      --color-destructive-foreground: rgb(255, 255, 255);
      --color-border: rgb(212, 212, 212);
      --color-input: rgb(212, 212, 212);
      --color-ring: rgb(255, 192, 203);
      --color-chart-1: rgb(255, 192, 203);
      --color-chart-2: rgb(135, 206, 235);
      --color-chart-3: rgb(255, 255, 0);
      --color-chart-4: rgb(255, 153, 204);
      --color-chart-5: rgb(51, 204, 51);
      --color-sidebar: rgb(247, 249, 250);
      --color-sidebar-foreground: rgb(51, 51, 51);
      --color-sidebar-primary: rgb(255, 192, 203);
      --color-sidebar-primary-foreground: rgb(0, 0, 0);
      --color-sidebar-accent: rgb(255, 255, 0);
      --color-sidebar-accent-foreground: rgb(0, 0, 0);
      --color-sidebar-border: rgb(212, 212, 212);
      --color-sidebar-ring: rgb(255, 192, 203);
    }

    @variant dark {
      --color-background: rgb(26, 29, 35);
      --color-foreground: rgb(229, 229, 229);
      --color-card: rgb(47, 52, 54);
      --color-card-foreground: rgb(229, 229, 229);
      --color-popover: rgb(47, 52, 54);
      --color-popover-foreground: rgb(229, 229, 229);
      --color-primary: rgb(255, 153, 204);
      --color-primary-foreground: rgb(0, 0, 0);
      --color-secondary: rgb(51, 204, 51);
      --color-secondary-foreground: rgb(0, 0, 0);
      --color-muted: rgb(68, 68, 68);
      --color-muted-foreground: rgb(163, 163, 163);
      --color-accent: rgb(135, 206, 235);
      --color-accent-foreground: rgb(0, 0, 0);
      --color-destructive: rgb(239, 68, 68);
      --color-destructive-foreground: rgb(255, 255, 255);
      --color-border: rgb(68, 68, 68);
      --color-input: rgb(68, 68, 68);
      --color-ring: rgb(255, 153, 204);
      --color-chart-1: rgb(255, 153, 204);
      --color-chart-2: rgb(51, 204, 51);
      --color-chart-3: rgb(135, 206, 235);
      --color-chart-4: rgb(255, 255, 0);
      --color-chart-5: rgb(255, 204, 0);
      --color-sidebar: rgb(26, 29, 35);
      --color-sidebar-foreground: rgb(229, 229, 229);
      --color-sidebar-primary: rgb(255, 153, 204);
      --color-sidebar-primary-foreground: rgb(0, 0, 0);
      --color-sidebar-accent: rgb(135, 206, 235);
      --color-sidebar-accent-foreground: rgb(0, 0, 0);
      --color-sidebar-border: rgb(68, 68, 68);
      --color-sidebar-ring: rgb(255, 153, 204);
    }
  }
}

@theme {
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
